/* Comment: This is a comment in CSS */

/* Color */
:root {
    --main-color: rgb(0, 0, 255); /* Default color */
}

body {
    color: var(--main-color, blue); /* Use the variable with fallback */
}

body {
    background-color: #f0f0f0;
}

body h1{
    text-decoration: underline;
    text-align: center;
    position: sticky;
    font-family: 'Tangerine',serif;
}

section {
    border: 1px solid black;
    padding: 10px; 
    margin-bottom: 10px;
    display: block;
}
footer {
    border-top-width: 1px;
    border-top-style: solid; 
    border-top-color: black; 
    padding-top: 10px;
    display: inline-block;
}
nav ul{
    position: fixed;
    right: 0;
}
header h1{
    color: hsl(34, 85%, 41%);
}
header h3{
    /*color: color(display-p3 0 0.5 1); this is how i tried wider gamut but validator wouldnt accept, couldnt find anythingonline */
    color: blue;
}

/* 3 relative Units */
h1 {
    font-size: 2em;
}
p,li {
    font-size: 1em;
}
details{
    font-size: 1.5em;
}


#agenda {
    margin: 20px; /*short*/
}

#attendees {
    margin-top: 20px; /* long*/
    margin-bottom: 30px; 
}

#agenda {
    padding: 10px 20px;
}

#attendees {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#discussion {
    margin-top: 20px; /* long*/
    margin-bottom: 30px; 
}

#discussion {
    padding: 10px 20px;
}


form label{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

footer:hover {
    background-color: color-mix(in srgb, #34c9eb, white);
}
details:active{
    color: red;
}

.components{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.grid-components {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

nav > ul {
    font-family: 'Times New Roman', Times, serif;
}
section ~ footer {
    font-family: 'Courier New', Courier, monospace;
}
h2 + ul {
    color: red;
}

.components section{
    background-color: lightblue;
}

div:has(h1) {
    background-color: yellow;
}
nav > ul > li {
    color: pink;
}


@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
      font-size: 16px;
    } 
}

@media only screen and (min-width: 900px) {
    body {
      font-size: 18px;
    }
 }

* {
    box-sizing: border-box;
}
[type] {
    outline: 1px solid red;
}
