/* start of the css files */
body {
    background-color: #f0f0f0; /* Light gray background color */
}
header h1{
    color: hsl(34, 85%, 41%); /* Orange-ish color */
}
header h3{
    color: color(display-p3 0 0.5 1)
}

#agenda h2 {
    color: red 
}


#attendees h2 {
    color: #1e90ff; /* Dodger blue */
}


#discussion h2 {
    color: rgb(50,205,50) 
}

